<!-- Register -->

<div class="register">

    <div class="container-fluid">
        
        <div class="row row-eq-height">
            <div class="col-lg-6 nopadding">
                
                <!-- Register -->

                <div class="register_section d-flex flex-column align-items-center justify-content-center">
                    
                    <div class="register_content text-center">
                        <h1 class="register_title"><span></span> </h1>
                        <p class="register_text"></p>
                        <img class='fondoRegistro' src="assets/images/gatoBook.jpg" alt="">
                        
                    </div>
                </div>

            </div>

            <div class="col-lg-6 nopadding">
                
                <!-- Search -->

                <div class="search_section d-flex flex-column align-items-center justify-content-center">
                    <div class="search_background" style="background-image:url(assets/images/search_background.jpg);"></div>
                    <div class="search_content text-center">
                        <h1 class="search_title">REGISTRARSE</h1>
                        <form id="search_form" class="search_form" action="post">
                            <input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Nombres" required="required" data-error="Nombres obligatorio.">
                            <input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Apellidos" required="required" data-error="Apellidos obligatorio.">
                            <input id="search_form_degree" class="input_field search_form_degree" type="text" placeholder="Dirección" required="required" data-error="Dirección obligatorio.">
                            <input id="search_form_name" class="input_field search_form_name" type="email" placeholder="Correo" required="required" data-error="Correo obligatorio.">
                            <input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Número de Celular" required="required" data-error="Celular olbigatorio.">
                            <input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Número Convencional" required="required" data-error="Teléfono convencional obligatorio.">
                            <input id="search_form_category" class="input_field search_form_category" type="password" placeholder="Contraseña"required="required" data-error="Contrasenia obligatorio.">
                            <input id="search_form_category" class="input_field search_form_category" type="password" placeholder="Repetir la Contraseña"required="required" data-error="Contrasenia obligatorio.">
                            <button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit" (click)='ingresar()'>REGISTRARSE</button>
                        </form>
                    </div> 
                </div>

            </div>
        </div>
    </div>
</div>
